[submodule "Lyue/vendor/spdlog"]
	path = Lyue/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lyue/vendor/GLFW"]
	path = Lyue/vendor/GLFW
	url = https://github.com/Yixing-Zhang/glfw
[submodule "Lyue/vendor/imgui"]
	path = Lyue/vendor/imgui
	url = https://github.com/Yixing-Zhang/imgui
